<div class="login-portal-main-container">
  <div class="login-portal-card-container">
    <h1 class="login-portal-main-heading">Welcome to HR Management portal</h1>
    <div class="login-portal-buttons-container">
      <%=link_to "Login as a Admin", "adminlogin", class: "login-portal-link"%>
      <%=link_to "Login as a Employee", "employeelogin", class: "login-portal-link"%>
    </div>
  </div>
</div>
